<!DOCTYPE html>
<html ng-app="moodApp" class="logged-in">

<head>
	<title>Mood Tracker</title>
	<link rel="stylesheet" type="text/css" href="build.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script language="JavaScript" src="GBJSTK.js"></script>
</head>

<body class="grade-a platform-browser platform-win32 platform-ready en" ng-controller="mainCtrl">


	<p class="top-nav">
		<a href="javascript:void(0)" ng-click="showView('Home')" class="pull-left">Tracker</a>
		<a href="javascript:void(0)" ng-click="showView('History')" class="pull-right">History</a>
	</p>

	<div class="">
		<div ng-if="selectedView === 'Home'" ng-include="'/app/views/home.html'"></div>
		<div class="clearfix" ng-if="selectedView === 'History'" ng-include="'/app/views/history.html'"></div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="main.js"></script>
</body>

</html>