<div class="progress-view">

    <div style="position: relative;" class="graph-wrapper">
        <canvas id="container" height="150" class="weekgraph" style="max-width: 910px; height: 150px;"></canvas>
        <div class="day-click-handler">
            <div ng-class="{available: isDayAvailable($index+1)}" class="available" ng-repeat="weekday in weekData track by $index">
                &nbsp;
                <p class="text-center">{{weekday.day}} <br> {{weekday.date}} / {{weekday.month}}</p>
                <span ng-if="false"> <i class="mood"></i><i class="health zero"></i> </span>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="col-md-4 is-mood {{ moodAvgClass }} vertical-stretch">
            <div class="slide-image"></div>
            <strong class="ng-binding">MOOD</strong>
            <div class="VeryGood">

                <div ng-repeat="moodRating in habitData track by $index" ng-class="{note: hasNotes(moodRating)}" ng-click="toggleNotes(moodRating)"
                    class="mood-row note">
                    {{moodRating.valueString}}<em class="note-icon"></em>
                    <span class="timestamp">{{moodRating.experiencedAt | date}}</span>
                    <div class="feeling-container">
                        <span ng-repeat="subValue in moodRating.habitSubValueIds track by $index" class="feeling">
                      {{subValue.valueString}} </span>
                    </div>
                    <div class="notes" ng-show="moodRating.notes">
                        {{moodRating.notes}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>