<div class="content">
    <div class="home-view">

        <div class="col-md-4 is-mood {{ habitMoodValues[moodData.selected].valueString.replace(' ','') }}" stop-event="touchend">
            <div class="">
                <div class="slide-image"></div>
                <strong class="ng-binding">MOOD</strong>
            </div>
            <div class="row">
                <div style="overflow: hidden;"><span class="title">How are you?</span>
                    <span> {{habitMoodValues[moodData.selected].valueString}}</span></div>
                <div range-slider min="0" max="6" model-max="moodData.selected" step="1" pin-handle="min"></div>
            </div>
            <div class="feeling-wrapper">
                <div ng-repeat="feeling in feelings" ng-class="{active: subValueIsActive(feeling.key)}" ng-click="setSelectedSubValue(feeling.key)">
                    {{feeling.key}}</div>
            </div>

            <!--<div contenteditable="true" class="notes-div" id="moodNotes" ng-model="moodData.notes" placeholder="WHATS_GOING_ON HASHTAGS_DESC"></div>-->
             <textarea class="notes-div" id="moodNotes" ng-model="moodData.notes" placeholder="WHATS_GOING_ON HASHTAGS_DESC"></textarea>
            <button ng-click="updateMood()">DONE</button>
        </div>
    </div>
</div>